.container
    .row
        .col-12
            .footer__content

                .footer__links
                    span Райтон Якутия
                    span Политика конфиденциальности

                img(src="img/logo-footer.png" alt="" title="")