.container
    .row
        .col-12
            .footer__content

                .footer__links
                    span Райтон Якутия
                    span Политика конфиденциальности

                include ../../../img/logo-footer.svg
