// Colors
$color-accent-primary: #45AC34;
$color-back-primary: #fff;
$color-back-secondary: #e1d7ae;
$color-font-primary: #343633;
$color-font-secondary: #fff;

// Media quires
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1140px;
$xxl: 1440px;