// Colors
$color-accent-primary: #c95192;
$color-accent-secondary: #2eaeb7;
$color-font-primary: #303030;
$color-font-secondary: #4d4b4b;
$color-font-light: #fff;
$color-font-in-accent: #eceff1;
$color-font-accent: #38b2b8;
$color-back-primary: #fff;

// Media quires
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1140px;
$xxl: 1440px;