@import "../../../templates/default/scss/variables";

#progress {
    height: auto;
    max-height: 200px;
    opacity: 1;
    transition: all .5s linear;

    &.hide {
        max-height: 0;
        opacity: 0;
    }
}

.progress {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 930px;
    margin: 20px auto 30px;

    @media (min-width: $md) {
        margin-top: 30px;
    }

    @media (min-width: $lg) {
        margin-top: 45px;
        margin-bottom: 45px;
    }

    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 40px;
        left: 50%;
        margin-left: 70px;
        opacity: 0.2;
        width: 109px;
        height: 132px;
        background: url("../img/question-back.png") center no-repeat;
        z-index: -1;

        @media (min-width: $md) {
            display: none;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 16px;
        padding: 0 5px;
        border: 1px solid $color-accent-primary;
        border-radius: 999px;
        margin-bottom: 10px;

        @media (min-width: $lg) {
            height: 40px;
            padding: 0 10px;
            margin-bottom: 25px;
        }
    }

    &__item {
        position: relative;
        width: calc(100% / 7);
        height: 8px;
        background-color: #eaeaea;
        border-radius: 999px;
        margin: 0 3px;
        overflow: hidden;

        @media (min-width: $lg) {
            height: 20px;
            margin: 0 8px;
        }

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 0;
            height: 100%;
            background-color: $color-accent-primary;
            opacity: 0;
            transition: all .5s ease-out;
            transition-delay: .3s;
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: opacity .5s ease-out;
            transition-delay: 0s;
            background: linear-gradient(267.16deg, #45AC34 7.68%, #67D854 53.18%, #45AC34 90.4%);
            animation: progress 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite;
        }
    }

    &__content {
        font-weight: 800;
        font-size: 12px;
        line-height: 16px;

        @media (min-width: $lg) {
            font-weight: bold;
            font-size: 22px;
            line-height: 30px;
        }

        #progressNumber {
            display: inline-block;
            margin: 0 3px;
            color: $color-accent-primary;

            @media (min-width: $lg) {
                margin: 0 7px;
            }
        }
    }
}

@keyframes progress {
    from { transform: translateX(-100%); }
    to { transform: translateX(100%); }
}

[data-current-question="forWhom"] {
    #progress .progress__item {
        &:nth-child(1)::before {
            width: 100%;
            opacity: 1;
            transition-delay: 0s;
        }

        &:nth-child(1)::after {
            opacity: 1;
            transition-delay: 1s;
        }
    }

    #progressNumber::before { content: "1" }
}

[data-current-question="childrenAge"] {
    #progress .progress__item {
        &:nth-child(-n+2)::before {
            width: 100%;
            opacity: 1;
            transition-delay: 0s;
        }

        &:nth-child(2)::after {
            opacity: 1;
            transition-delay: 1s;
        }
    }

    #progressNumber::before { content: "2" }
}

[data-current-question="hardnessChildren"] {
    #progress .progress__item {
        &:nth-child(-n+3)::before {
            width: 100%;
            opacity: 1;
            transition-delay: 0s;
        }

        &:nth-child(3)::after {
            opacity: 1;
            transition-delay: 1s;
        }
    }

    #progressNumber::before { content: "3" }
}

[data-current-question="numberOfPersons"] {
    #progress .progress__item {
        &:nth-child(-n+2)::before {
            width: 100%;
            opacity: 1;
            transition-delay: 0s;
        }

        &:nth-child(2)::after {
            opacity: 1;
            transition-delay: 1s;
        }
    }

    #progressNumber::before { content: "2" }
}

[data-current-question="weightOne"],
[data-current-question="weightTwo"] {
    #progress .progress__item {
        &:nth-child(-n+3)::before {
            width: 100%;
            opacity: 1;
            transition-delay: 0s;
        }

        &:nth-child(3)::after {
            opacity: 1;
            transition-delay: 1s;
        }
    }

    #progressNumber::before { content: "3" }
}

[data-current-question="hardnessAdult"] {
    #progress .progress__item {
        &:nth-child(-n+4)::before {
            width: 100%;
            opacity: 1;
            transition-delay: 0s;
        }

        &:nth-child(4)::after {
            opacity: 1;
            transition-delay: 1s;
        }
    }

    #progressNumber::before { content: "4" }
}

[data-current-question="quality"] {
    #progress .progress__item {
        &:nth-child(-n+5)::before {
            width: 100%;
            opacity: 1;
            transition-delay: 0s;
        }

        &:nth-child(5)::after {
            opacity: 1;
            transition-delay: 1s;
        }
    }

    #progressNumber::before { content: "5" }
}

[data-current-question="howUrgent"] {
    #progress .progress__item {
        &:nth-child(-n+6)::before {
            width: 100%;
            opacity: 1;
            transition-delay: 0s;
        }

        &:nth-child(6)::after {
            opacity: 1;
            transition-delay: 1s;
        }
    }

    #progressNumber::before { content: "6" }
}

[data-current-question="getNane"],
[data-current-question="getContact"] {
    #progress .progress__item {
        &:nth-child(-n+7)::before {
            width: 100%;
            opacity: 1;
            transition-delay: 0s;
        }

        &:nth-child(7)::after {
            opacity: 1;
            transition-delay: 1s;
        }
    }

    #progressNumber::before { content: "7" }
}