//- .hide
section#progress
    .container
        .row
            .col-12
                .progress
                    ul.progress__list
                        li.progress__item
                        li.progress__item
                        li.progress__item
                        li.progress__item
                        li.progress__item
                        li.progress__item
                        li.progress__item

                    p.progress__content
                        | Вопрос
                        span#progressNumber
                        | из 7