//- .hidden
section.container.question#getContact.hidden
    .row
        .col-12.animatible
            .get-contact__caption
                h2.get-contact__title
                    | Отлично!
                    br
                    | Система подобрала
                    br
                    span идеальные матрасы для Вас

        .col-12.animatible
            .get-contact__form

                .get-contact__name
                    span#namePlace
                    | , куда её прислать ?

                include ../form-get-contact/form-get-contact

        .col-12.animatible
            ul.get-contact__list
                li Система автоматически:
                li Подобрала матрасы точно по Вашим критериям
                li Приготовила чек-лист по выбору идеального матраса

        .col-12.animatible
            .get-contact__presentation

        .col-12
            include ../form-get-contact/form-get-contact

        .col-12.animatible
            .lock
                img(src="img/lock.png" alt="" title="")
                span Ваша подборка матрасов