//- .hidden
.container.question#getContact
    .row
        .col-12
            .get-contact__caption.emerging
                h2.get-contact__title
                    | Отлично!
                    br
                    | Система подобрала
                    br
                    span идеальные матрасы для Вас

        .col-12
            .get-contact__form.emerging

                .get-contact__name
                    span#namePlace Георгий
                    | , куда её прислать ?

                include ../form-get-contact/form-get-contact

