//- .show
#thanksModal.modal.modal_consultation
    .modal__dialog
        .modal__content
            .modal__body.mb-0
                button.modal__close.modalCloseBtn(type='button')
                h5.modal__title СПАСИБО!
                p.modal__subtitle До того, как мы перезвоним, посмотрите больше информации на нашем сайте
                a.btn.mt-3.modalCloseBtn(href="https://raiton-yakutsk.ru/" target="_blank") перейти на сайт