include ../loader/loader

//- .hidden
section.container.question.get-name#getNane.hidden
    button.btnNextStep.invisible#showResults(data-next-step-id="#getContact")

    .row#getNameForm
        .col-12.animatible
            .get-name__caption
                h2.get-name__title
                    | Укажите имя для регистрации&nbsp;
                    br.d-md-none
                    | в системе

        .col-12.animatible
            .get-name__form
                form.form(action="" method="GET")
                    input(type="hidden" value="form-name" name="form")
                    label.form__group
                        input#name(
                            type="text"
                            name="name"
                            placeholder="Введите Ваше имя")

                    label.form__group
                        button.btn.animation-line#showLoader(type="button" disabled) к результату

    .row.hide#getNameLoader
        .col-12.animatible
            .get-name__loader
                h2.get-name__title.pt-md-1
                    span
                        | Формируем предварительный&nbsp;
                        br.d-md-none
                        | результат

                    span.hide
                        | Предварительные результаты&nbsp;
                        br.d-md-none
                        | сформированы

                +loader

        .col-12.animatible
            .get-name__check-list
                ul#buildingResults
                    li
                        include ../../../img/icon-check-list.svg
                        | Формируем подборку

                    li
                        include ../../../img/icon-check-list.svg
                        | Готовим чек-лист