@import "../../../templates/default/scss/variables";

.results {
    width: 100%;

    &__founders {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 200px;
        margin: 0 auto;
        background: $color-back-primary;
        box-sizing: border-box;
        box-shadow: 0 10px 17px -10px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        padding-bottom: 20px;
        overflow: hidden;

        span {
            display: block;
            position: relative;
            width: 200px;
            height: 125px;
            background: center no-repeat;
            background-size: cover;
            margin-bottom: 15px;
        }

        h5 {
            font-weight: bold;
            font-size: 14px;
            line-height: 19px;
            text-align: center;
            margin-bottom: 10px;
        }

        p {
            font-weight: 300;
            font-size: 12px;
            line-height: 16px;
            text-align: center;
        }
    }

    &__caption {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 25px;
        margin-bottom: 30px;

        h5 {
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;
            text-align: center;
        }

        p {
            font-weight: 500;
            font-size: 14px;
            line-height: 19px;
            text-align: center;
            margin: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.form-present {
    display: block;
    width: 100%;
    height: auto;
    background: $color-back-primary;
    border: 1px solid $color-accent-primary;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 25px 25px 30px;
    max-width: 300px;
    margin: 0 auto;

    h4 {
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        margin: 0 0 10px;
    }

    &__stubtitle {
        margin-top: 10px;
        margin-bottom: 20px;

        img {
            display: block;
            width: 119px;
            height: auto;
            margin-right: 5px;
            float: left;
        }

        p {
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            padding-top: 10px;
        }

        span {
            display: block;
            width: 100%;
            margin-top: 40px;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 19px;
        }
    }

    &__controllers {
        display: flex;
        flex-direction: column;
        align-items: center;

        h5 {
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            margin-bottom: 20px;
        }

        .form__group {
            width: 100%;
        }

        input {
            padding: 0;
        }
    }

    .label_present {
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
            width: 49px;
            height: auto;
        }

        &__wrapper {
            position: relative;
            width: 177px;
        }

        &__note {
            position: absolute;
            width: 100%;
            height: auto;
            font-weight: 500;
            font-size: 10px;
            line-height: 20px;
            text-align: center;
        }
    }

    &__btn-wrap {
        margin-top: 26px;
        width: 100%;

        .btn {
            font-weight: bold;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 0.3px;
        }

        span {
            display: block;
            margin-top: 13px;
            font-weight: 500;
            font-size: 10px;
            line-height: 14px;
            text-align: center;
        }
    }
}