@import "../../../templates/default/scss/variables";

.results {
    width: 100%;

    @media (min-width: $md) {
        margin-bottom: 0;

        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 100vw;
            height: 100%;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
            opacity: 0.5;
            background: url(../img/pattern-reviews.svg) repeat;
        }
    }

    &__founders {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 200px;
        margin: 0 auto;
        background: $color-back-primary;
        box-sizing: border-box;
        box-shadow: 0 10px 17px -10px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        padding-bottom: 20px;
        overflow: hidden;

        @media (min-width: $md) {
            float: right;
            margin-bottom: 40px;
        }

        span {
            display: block;
            position: relative;
            width: 200px;
            height: 125px;
            background: center no-repeat;
            background-size: cover;
            margin-bottom: 15px;
        }

        h5 {
            font-weight: bold;
            font-size: 14px;
            line-height: 19px;
            text-align: center;
            margin-bottom: 10px;

            @media (min-width: $md) {
                font-size: 16px;
                line-height: 22px;
            }
        }

        p {
            font-weight: 300;
            font-size: 12px;
            line-height: 16px;
            text-align: center;

            @media (min-width: $md) {
                font-size: 14px;
                line-height: 19px;
                padding: 0 20px;
            }
        }
    }

    &__caption {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 25px;
        margin-bottom: 30px;

        @media (min-width: $md) {
            align-items: flex-start;
            margin: 0;
        }

        h5 {
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;
            text-align: center;

            @media (min-width: $md) {
                text-align: left;
                font-weight: 800;
                font-size: 22px;
                line-height: 30px;
            }
        }

        p {
            font-weight: 500;
            font-size: 14px;
            line-height: 19px;
            text-align: center;
            margin: 10px;

            @media (min-width: $md) {
                text-align: left;
                margin-left: 0;
                margin-right: -15px;
                font-weight: 600;
                font-size: 18px;
                line-height: 25px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__list {
        margin-top: 30px;
        margin-bottom: 20px;

        @media (min-width: $md) {
            margin: 35px -15px 70px;
        }

        &::before {
            content: "";
            display: block;
            position: absolute;
            width: calc(100% + 30px);
            height: 100%;
            top: 0;
            left: -15px;
            z-index: -1;
            opacity: 0.5;
            background: url("../img/pattern-reviews.svg") repeat;

            @media (min-width: $md) {
                display: none;
            }
        }

        h5  {
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;
            text-align: center;
            margin-bottom: 10px;

            @media (min-width: $md) {
                font-weight: bold;
                font-size: 24px;
                line-height: 33px;
                margin-bottom: 15px;
            }
        }

        &-caption {
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            margin-bottom: 10px;

            @media (min-width: $md) {
                font-size: 20px;
                line-height: 27px;
                margin-bottom: 40px;
            }

            span {
                color: red;
            }
        }

        &-raiting {
            display: flex;
            justify-content: center;
            align-items: center;

            @media (min-width: $md) {
                padding-bottom: 20px;
            }

            svg {
                width: 23px;
                height: auto;
                margin: 0 1px;

                @media (min-width: $md) {
                    width: 37px;
                }
            }
        }
    }

    &__list-slider {
        width: 290px;
        margin: 0 auto;

        @media (min-width: $md) {
            width: 720px;
        }

        @media (min-width: $xl) {
            width: 1090px;
        }
    }

    &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 288px;
        height: auto;
        background: $color-back-primary;
        border: 1px solid $color-accent-primary;
        box-sizing: border-box;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 40px;
        cursor: grab;

        @media (min-width: $md) {
            width: 350px;
        }

        &__caption {
            padding: 15px 20px;
            background: #E4CB89;
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;

            @media (min-width: $md) {
                font-size: 20px;
                line-height: 27px;
            }
        }

        &__picture {
            display: flex;
            width: 100%;

            &-img {
                width: 140px;
                height: auto;
                margin-right: 10px;

                @media (min-width: $md) {
                    width: 167px;
                }
            }

            &-content {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-top: 15px;
            }

            &-title {
                font-weight: 600;
                font-size: 12px;
                line-height: 1.3;
                margin-bottom: 10px;

                @media (min-width: $md) {
                    font-size: 14px;
                }
            }

            &-subtitle {
                font-weight: normal;
                font-size: 9px;
                line-height: 10px;
                margin-bottom: 10px;

                @media (min-width: $md) {
                    font-size: 12px;
                    line-height: 16px;
                }
            }

            &-txt {
                font-weight: 500;
                font-size: 9px;
                line-height: 12px;

                @media (min-width: $md) {
                    font-size: 12px;
                    line-height: 16px;
                    padding-right: 10px;
                }
            }
        }

        &__body {
            width: 100%;
            padding: 15px 20px 30px;

            @media (min-width: $md) {
                padding-top: 20px;
                padding-bottom: 35px;
            }

            .btn {
                font-weight: bold;
                font-size: 14px;
                line-height: 18px;
            }
        }

        &__list {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 25px;

            @media (min-width: $md) {
                margin-bottom: 30px;
            }
            li  {
                position: relative;
                width: 100%;
                height: auto;
                padding-left: 15px;
                margin-bottom: 10px;

                @media (min-width: $md) {
                    margin-bottom: 15px;
                }

                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background-color: $color-accent-primary;
                    top: 7px;
                    left: 0;
                }

                &:last-child {
                    margin-bottom: 0;
                }

                h6  {
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 20px;
                    margin: 0;
                    padding: 0;
                    color: $color-font-lite;

                    @media (min-width: $md) {
                        font-size: 16px;
                        line-height: 20px;
                    }
                }

                p {
                    width: 150px;
                    font-weight: 500;
                    font-size: 10px;
                    line-height: 14px;

                    @media (min-width: $md) {
                        font-size: 12px;
                        line-height: 16px;
                        width: 180px;
                    }
                }

                .button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    width: auto;
                    height: 20px;
                    right: 0;
                    bottom: 0;
                    background: $color-accent-primary;
                    color: $color-font-secondary;
                    border-radius: 5px;
                    text-decoration: none;
                    font-weight: 600;
                    font-size: 9px;
                    line-height: 20px;
                    padding: 0 5px;

                    @media (min-width: $md) {
                        font-size: 10px;
                        line-height: 20px;
                        height: 25px;
                        padding: 0 15px;
                    }
                }
            }
        }
    }

    &__consultation-txt {
        position: relative;
        color: $color-font-lite;
        padding: 20px 0;
        margin-top: 30px;

        @media (min-width: $md) {
            margin-top: 70px;
            padding: 35px 45px 40px;
        }

        @media (min-width: $xl) {
            margin-left: -15px
        }

        &::before {
            content: "";
            display: block;
            position: absolute;
            width: calc(100% + 30px);
            height: 100%;
            left: -15px;
            top: 0;
            z-index: -1;
            background: #ebdcb5 url("../img/pattern-main.svg") repeat;
            border-top-left-radius: 30px;
            border-bottom-right-radius: 30px;

            @media (min-width: $md) {
                width: 100%;
                left: 0;
            }
        }

        p {
            font-weight: normal;
            font-size: 14px;
            line-height: 19px;
            margin-bottom: 20px;

            @media (min-width: $md) {
                font-size: 18px;
                line-height: 25px;
                margin-bottom: 30px;
            }
        }

        h5 {
            font-weight: bold;
            font-size: 20px;
            line-height: 25px;
            margin-bottom: 20px;

            @media (min-width: $md) {
                font-size: 22px;
                line-height: 25px;
                margin-bottom: 30px;
            }
        }

        span {
            display: block;
            width: 100%;
            font-weight: 600;
            font-size: 14px;
            line-height: 145%;
            margin-bottom: 10px;

            @media (min-width: $md) {
                font-size: 20px;
            }
        }

        ul  {
            display: flex;
            flex-direction: column;
        }

        li {
            font-size: 14px;
            line-height: 140%;
            margin-bottom: 7px;

            @media (min-width: $md) {
                font-weight: normal;
                font-size: 18px;
                line-height: 145%;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__consultation-form {
        margin-top: 20px;

        @media (min-width: $md) {
            margin-top: 70px;
            margin-bottom: 50px;
        }

        @media (min-width: $xl) {
            margin-bottom: 70px;
        }

        p {
            font-size: 14px;
            line-height: 19px;
            text-align: center;
            color: $color-font-lite;
            margin-bottom: 20px;

            @media (min-width: $md) {
                font-size: 18px;
                line-height: 25px;
            }
            
            @media (min-width: $xl) {
                text-align: left;
                padding-left: 25px;
            }

            strong {
                display: block;
                font-weight: 600;
            }

            span {
                display: block;
                margin-top: 5px;

                @media (min-width: $md) {
                    margin-top: 25px;
                }
            }
        }

        img  {
            display: block;
            position: relative;
            width: 143px;
            height: auto;
            margin: 0 auto -20px;
            border-radius: 50%;
            overflow: hidden;
            border: 2px solid $color-accent-primary;
            z-index: -1;

           @media (min-width: $xl) {
               position: absolute;
               left: 290px;
               bottom: 360px;
           }
        }

        form {
            width: 100%;
            height: auto;
            max-width: 290px;
            margin: 0 auto;
            overflow: hidden;
            padding: 25px 20px 30px;
            background: $color-back-primary;
            border: 1px solid $color-accent-primary;
            box-sizing: border-box;
            box-shadow: 0 -20px 20px -25px rgba(0, 0, 0, 0.4);
            border-radius: 10px;

            @media (min-width: $xl) {
                margin: 85px 0 0 25px;
            }

            h5 {
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                text-align: center;
                color: $color-font-lite;
                margin-bottom: 15px;
            }

            p {
                font-weight: normal;
                font-size: 14px;
                line-height: 19px;
                text-align: center;
                color: $color-font-lite;
            }
        }
    }

    &__benefits {
        margin-top: 30px;
        margin-bottom: 15px;

        @media (min-width: $md) {
            margin-top: 50px;
        }

        img {
            display: none;

            @media (min-width: $xl) {
                display: block;
                position: absolute;
                top: 165px;
                left: 586px;
            }
        }

        h5 {
            font-weight: 600;
            font-size: 14px;
            line-height: 19px;
            text-align: center;
            color: $color-font-lite;
            margin-bottom: 25px;

            @media (min-width: $md) {
                font-weight: bold;
                font-size: 24px;
                line-height: 33px;
                margin-bottom: 40px;
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: auto;
            overflow: hidden;
        }

        li {
            position: relative;
            margin-bottom: 15px;
            padding-left: 60px;

            @media (min-width: $md) {
                padding-left: 95px;
                margin-bottom: 30px;
            }

            .picture {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: #e1d7ae;
                background-position: center;
                background-repeat: no-repeat;

                @media (min-width: $md) {
                    width: 60px;
                    height: 60px;
                    background-size: 45%;
                }
            }

            p {
                font-style: normal;
                font-weight: normal;
                font-size: 10px;
                line-height: 14px;
                color: $color-font-lite;

                @media (min-width: $md) {
                    font-size: 16px;
                    line-height: 22px;
                    width: 505px;
                }
            }

            strong {
                display: block;
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 16px;
                color: $color-font-lite;
                margin-bottom: 5px;

                @media (min-width: $md) {
                    font-size: 18px;
                    line-height: 25px;
                    margin-bottom: 10px;
                }
            }
        }
    }

    &__premium {
        margin: 10px -15px 35px;

        @media (min-width: $md) {
            margin: 35px 0 50px;
        }

        img {
            width: calc(100% + 30px);
            max-width: none;
        }
    }

    &__props {
        margin-bottom: 10px;

        @media (min-width: $md) {
            margin-top: 15px;
            margin-bottom: 60px;
        }

        h5 {
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;
            text-align: center;
            text-transform: uppercase;
            color: $color-font-lite;
            margin-bottom: 25px;

            @media (min-width: $md) {
                font-weight: bold;
                font-size: 24px;
                line-height: 33px;
                margin-bottom: 40px;
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: auto;
            overflow: hidden;

            @media (min-width: $xl) {
                padding-left: 475px;
            }
        }

        li {
            position: relative;
            margin-bottom: 20px;
            padding-left: 60px;

            @media (min-width: $md) {
                padding-left: 95px;
                margin-bottom: 30px;
                min-height: 60px;
            }

            span {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 0;
                left: 0;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: #e1d7ae;
                font-weight: bold;
                font-size: 22px;
                line-height: 30px;
                color: $color-font-lite;

                @media (min-width: $md) {
                    width: 60px;
                    height: 60px;
                }
            }

            p {
                display: flex;
                align-items: center;
                min-height: 40px;
                font-weight: 500;
                font-size: 14px;
                line-height: 19px;
                color: $color-font-lite;

                @media (min-width: $md) {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 1.3;
                    width: 520px;
                }
            }
        }

        img {
            display: none;

            @media (min-width: $xl) {
                display: block;
                position: absolute;
                top: 150px;
                left: 20px;
            }
        }
    }

    &__payment {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 10px 0 15px;
        color: $color-font-secondary;

        @media (min-width: $md) {
            padding: 30px 0 35px;
        }

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100vw;
            height: 100%;
            background-color: #45ac34;
            z-index: -1;
        }

        img {
            position: relative;
            float: left;
            margin-right: 15px;
            width: 51px;
            height: auto;

            @media (min-width: $md) {
                width: 142px;
                margin-right: 40px;
            }
        }

        h5 {
            font-weight: bold;
            font-size: 18px;
            line-height: 25px;

            @media (min-width: $md) {
                font-size: 32px;
                line-height: 35px;
            }
        }

        p {
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            margin-top: 10px;

            @media (min-width: $md) {
                font-weight: normal;
                font-size: 18px;
                line-height: 25px;
                margin-top: 15px;
            }
        }
    }

    &__feedback {
        margin-top: 25px;

        @media (min-width: $md) {
            margin-top: 70px;
        }

        h5 {
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            text-align: center;

            @media (min-width: $md) {
                font-weight: bold;
                font-size: 24px;
                line-height: 33px;
                padding-bottom: 30px;
            }
        }

        .slider {
            width: 290px;
            margin: 40px auto 0;

            @media (min-width: $md) {
               width: calc(180px * 3);
            }

            mark {
                @media (min-width: $md) {
                    margin-left: 125px;
                }
            }
        }

        &-item {
            display: block;
            position: relative;
            width: 290px;
            height: 275px;
            margin-bottom: 40px;
            cursor: grab;

            @media (min-width: $md) {
                width: 180px;
            }
        }

        &-picture {
            display: block;
            width: 290px;
            height: 275px;
            background-color: #f5f5f5;
            border-radius: 10px;
            overflow: hidden;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 112%;
            transition: all .5s linear;

            @media (min-width: $md) {
                width: 250px;
                height: 215px;
                position: absolute;
                opacity: 0;
                left: 0;
                top: 50%;
                transform: translate(0, -50%);
            }
        }

        .swiper-slide-active {
            @media (min-width: $md) {
                z-index: 3;

                span {
                    width: 290px !important;
                    height: 275px !important;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    opacity: 1;
                }
            }
        }

        .swiper-slide-prev {
            @media (min-width: $md) {
                span {
                    z-index: 1;
                    opacity: 1;
                }
            }
        }

        .swiper-slide-next {
            @media (min-width: $md) {
                span {
                    transform: translate(-71px, -50%);
                    z-index: 2;
                    opacity: 1;
                }
            }
        }

        .swiper-slide {
            &:nth-child(5) span {
                background-size: 116%;
            }
            &:nth-child(6) span {
                background-size: 108%;
            }
            &:nth-child(7) span {
                background-size: cover;
            }
        }
    }

    &__social {
        margin-top: 25px;

        @media (min-width: $md) {
            margin-top: 70px;
        }

        h5 {
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;
            text-align: center;
            color: $color-font-lite;

            @media (min-width: $md) {
                font-weight: bold;
                font-size: 24px;
                line-height: 33px;
            }
        }

        &-content {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;

            @media (min-width: $md) {
                margin-top: 40px;
            }

            img {
                border: 1px solid #f7f7f7;
                box-sizing: border-box;
                box-shadow: 0 15px 10px -15px rgba(0, 0, 0, 0.3);
                border-radius: 10px;
                width: 118px;
                height: auto;

                @media (min-width: $md) {
                    width: 199px;
                }
            }

            ul {
                display: flex;
                flex-direction: column;

                @media (min-width: $md) {
                    width: 290px;
                }
            }

            li {
                font-size: 10px;
                line-height: 14px;
                padding-left: 25px;
                margin-bottom: 5px;
                position: relative;

                @media (min-width: $md) {
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 22px;
                    padding-left: 55px;
                    margin-bottom: 15px;
                }

                &:last-child {
                    margin-bottom: 0;
                }

                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 6px;
                    left: 15px;
                    width: 3px;
                    height: 3px;
                    background-color: $color-font-primary;
                    border-radius: 50%;

                    @media (min-width: $md) {
                        width: 5px;
                        height: 5px;
                        top: 9px;
                        left: 33px;
                    }
                }
            }
        }

        &-link {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-decoration: none;
            margin-top: 25px;

            @media (min-width: $md) {
                margin-top: 50px;
            }

            span {
                width: 50px;
                height: 50px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: 100%;

                @media (min-width: $md) {
                    width: 70px;
                    height: 70px;
                }
            }

            @media (min-width: $xl) {
                &:hover::after {
                    text-decoration: none;
                }

            }

            &::after {
                content: "Перейти";
                display: block;
                font-size: 12px;
                line-height: 16px;
                text-decoration: underline;
                color: $color-font-lite;
                margin-top: 5px;

                @media (min-width: $md) {
                    margin-top: 10px;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 19px;
                }
            }
        }
    }

    &__maps {
        margin-top: 25px;

        @media (min-width: $md) {
            margin-top: 70px;
            margin-bottom: 70px;
        }

        h5 {
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;
            text-align: center;
            color: $color-font-lite;
            margin-bottom: 20px;

            @media (min-width: $md) {
                font-weight: bold;
                font-size: 24px;
                line-height: 33px;
                margin-bottom: 15px;
            }
        }

        h4 {
            font-weight: normal;
            font-size: 14px;
            line-height: 19px;
            text-align: center;
            color: #a3a1a1;
            margin-bottom: 25px;

            @media (min-width: $md) {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 22px;
                margin-bottom: 40px;
            }
        }
    }
}

.lite-background {
    @media (min-width: $md) {
        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 100vw;
            height: 100%;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
            opacity: 1;
            background: $color-back-primary;
        }
    }
}

.form-present {
    display: block;
    width: 100%;
    height: auto;
    background: $color-back-primary;
    border: 1px solid $color-accent-primary;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 25px 25px 30px;
    max-width: 300px;
    margin: 0 auto;

    @media (min-width: $md) {
        max-width: 575px;
        padding: 30px 80px 40px;
    }

    @media (min-width: $xl) {
        max-width: 1092px;
        padding-bottom: 85px;
    }

    h4 {
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        margin: 0 0 15px;

        @media (min-width: $md) {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            font-size: 24px;
            line-height: 33px;
            margin-bottom: 41px;
        }
    }

    &__stubtitle {
        margin-top: 10px;
        margin-bottom: 20px;

        @media (min-width: $md) {
            margin-bottom: 60px;
        }

        @media (min-width: $xl) {
            width: 450px;
            margin-left: auto;
            margin-right: auto;
        }

        img {
            display: block;
            width: 115px;
            height: auto;
            margin-right: 5px;
            float: left;

            @media (min-width: $md) {
                width: 182px;
                margin-right: 15px;
                margin-top: 0;
            }
        }

        p {
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            padding-top: 10px;

            @media (min-width: $md) {
                font-weight: normal;
                font-size: 16px;
                line-height: 22px;
                padding-top: 0;
            }
        }

        span {
            display: block;
            width: 100%;
            margin-top: 40px;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 19px;

            @media (min-width: $md) {
                margin-top: 15px;
            }
        }
    }

    &__controllers {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width: $xl) {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        h5 {
            position: relative;
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            margin-bottom: 20px;

            @media (min-width: $md) {
                font-weight: 500;
                font-size: 18px;
                line-height: 25px;
                margin-bottom: 40px;
            }

            @media (min-width: $xl) {
                margin-bottom: 0;

                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 128px;
                    height: 28px;
                    background: url("../img/present-arr.svg") center no-repeat;
                    bottom: -42px;
                    right: -128px;
                }
            }
        }

        .form__group {
            width: 100%;

            @media (min-width: $md) {
                width: 295px;
            }

            @media (min-width: $xl) {
                margin-bottom: 0;
            }
        }

        input {
            padding: 0;
        }
    }

    .label_present {
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
            width: 49px;
            height: auto;

            @media (min-width: $md) {
                width: 55px;
            }
        }

        &__wrapper {
            position: relative;
            width: 177px;

            @media (min-width: $md) {
                width: 215px;
            }
        }

        &__note {
            position: absolute;
            width: 100%;
            height: auto;
            font-weight: 500;
            font-size: 10px;
            line-height: 20px;
            text-align: center;

            @media (min-width: $md) {
                font-weight: 500;
                font-size: 12px;
                line-height: 35px;
                color: #535B56;
            }
        }
    }

    &__btn-wrap {
        margin-top: 26px;
        width: 100%;

        @media (min-width: $md) {
            width: 250px;
            margin-top: 35px;
        }

        @media (min-width: $xl) {
            margin-top: 0;
            position: relative;
        }

        .btn {
            font-weight: bold;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 0.3px;
        }

        span {
            display: block;
            margin-top: 13px;
            font-weight: 500;
            font-size: 10px;
            line-height: 14px;
            text-align: center;

            @media (min-width: $xl) {
                position: absolute;
                width: 100%;
            }
        }
    }
}

.tabs {
    width: 290px;
    height: 200px;
    background: $color-back-primary;
    border: 1px solid $color-accent-primary;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto 20px;

    @media (min-width: $md) {
        width: 600px;
        height: 300px;
    }

    @media (min-width: $lg) {
        width: 750px;
        height: 300px;
    }

    &__navs {
        display: flex;
        height: 25px;

        @media (min-width: $md) {
            height: 35px;
        }

        li {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 33.3333333333333%;
            height: 100%;
            font-weight: bold;
            font-size: 9px;
            line-height: 1.3;
            color: #ababab;
            background: #eaeaea;
            border-bottom: 1px solid #45AC34;
            border-right: 1px solid #45AC34;
            cursor: pointer;

            @media (min-width: $md) {
                font-weight: 600;
                font-size: 14px;
                line-height: 19px;
            }

            &:last-child {
                border-right: none;
            }
        }
    }

    &__content {
        width: 100%;
        height: calc(100% - 25px);
        position: relative;

        @media (min-width: $md) {
            height: calc(100% - 35px);
        }
    }

    &__map {
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
        opacity: 0;
        transition: all .3s linear;

        p {
            display: block;
            height: 100%;
            width: calc(100% - 130px);
            padding: 20px 15px 5px;
            font-weight: normal;
            font-size: 11px;
            line-height: 1.4;
            color: $color-font-lite;

            @media (min-width: $md) {
                font-size: 16px;
                line-height: 22px;
                width: 50%;
                padding: 40px 15px 0 30px;
            }
        }

        strong {
            display: block;
            font-weight: bold;
            font-size: 12px;

            @media (min-width: $md) {
                font-size: 16px;
                line-height: 22px;
            }
        }

        b {
            display: block;
            font-weight: bold;
            margin-top: 20px;
        }
    }

    &__container {
        display: block;
        position: relative;
        height: 100%;
        width: 130px;

        @media (min-width: $md) {
            width: 50%;
        }
    }

    &[data-active-map="0"] {
        .tabs__item:nth-child(1) {
            background-color: $color-back-primary;
            border-bottom-color: $color-back-primary;
            font-size: 11px;
            color: $color-accent-primary;
            cursor: default;

            @media (min-width: $md) {
                font-weight: bold;
                font-size: 16px;
                line-height: 22px;
            }
        }

        .tabs__map:nth-child(1) {
            opacity: 1;
            z-index: 1;
        }
    }

    &[data-active-map="1"] {
        .tabs__item:nth-child(2) {
            background-color: $color-back-primary;
            border-bottom-color: $color-back-primary;
            font-size: 11px;
            color: $color-accent-primary;
            cursor: default;

            @media (min-width: $md) {
                font-weight: bold;
                font-size: 16px;
                line-height: 22px;
            }
        }

        .tabs__map:nth-child(2) {
            opacity: 1;
            z-index: 1;
        }
    }

    &[data-active-map="2"] {
        .tabs__item:nth-child(3) {
            background-color: $color-back-primary;
            border-bottom-color: $color-back-primary;
            font-size: 11px;
            color: $color-accent-primary;
            cursor: default;

            @media (min-width: $md) {
                font-weight: bold;
                font-size: 16px;
                line-height: 22px;
            }
        }

        .tabs__map:nth-child(3) {
            opacity: 1;
            z-index: 1;
        }
    }
}