@import "../../../templates/default/scss/variables";

.results {
    width: 100%;

    &__founders {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 200px;
        margin: 0 auto;
        background: $color-back-primary;
        box-sizing: border-box;
        box-shadow: 0 10px 17px -10px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        padding-bottom: 20px;
        overflow: hidden;

        span {
            display: block;
            position: relative;
            width: 200px;
            height: 125px;
            background: center no-repeat;
            background-size: cover;
            margin-bottom: 15px;
        }

        h5 {
            font-weight: bold;
            font-size: 14px;
            line-height: 19px;
            text-align: center;
            margin-bottom: 10px;
        }

        p {
            font-weight: 300;
            font-size: 12px;
            line-height: 16px;
            text-align: center;
        }
    }

    &__caption {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 25px;
        margin-bottom: 30px;

        h5 {
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;
            text-align: center;
        }

        p {
            font-weight: 500;
            font-size: 14px;
            line-height: 19px;
            text-align: center;
            margin: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__list {
        margin-top: 30px;
        margin-bottom: 20px;

        &::before {
            content: "";
            display: block;
            position: absolute;
            width: calc(100% + 30px);
            height: 100%;
            top: 0;
            left: 0;
            z-index: -1;
            opacity: 0.5;
            background: url("../img/pattern-reviews.svg") repeat;
        }

        h5  {
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;
            text-align: center;
            margin-bottom: 10px;
        }

        &-caption {
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            margin-bottom: 10px;

            span {
                color: red;
            }
        }

        &-raiting {
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                width: 23px;
                height: auto;
                margin: 0 1px;
            }
        }
    }

    &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 288px;
        height: auto;
        background: $color-back-primary;
        border: 1px solid $color-accent-primary;
        box-sizing: border-box;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 40px;

        &__caption {
            padding: 15px 20px;
            background: #E4CB89;
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;
        }

        &__picture {
            display: flex;
            width: 100%;

            &-img {
                width: 140px;
                height: auto;
                margin-right: 10px;
            }

            &-content {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-top: 15px;
            }

            &-title {
                font-weight: 600;
                font-size: 12px;
                line-height: 16px;
                margin-bottom: 10px;
            }

            &-subtitle {
                font-weight: normal;
                font-size: 9px;
                line-height: 10px;
                margin-bottom: 10px;
            }

            &-txt {
                font-weight: 500;
                font-size: 9px;
                line-height: 12px;
            }
        }

        &__body {
            width: 100%;
            padding: 15px 20px 30px;

            .btn {
                font-weight: bold;
                font-size: 14px;
                line-height: 18px;
            }
        }

        &__list {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 25px;

            li  {
                position: relative;
                width: 100%;
                height: auto;
                padding-left: 15px;
                margin-bottom: 10px;

                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background-color: $color-accent-primary;
                    top: 7px;
                    left: 0;
                }

                &:last-child {
                    margin-bottom: 0;
                }

                h6  {
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 20px;
                    margin: 0;
                    padding: 0;
                    color: #474747;
                }

                p {
                    width: 150px;
                    font-weight: 500;
                    font-size: 10px;
                    line-height: 14px;
                }

                .button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    width: auto;
                    height: 20px;
                    right: 0;
                    bottom: 0;
                    background: $color-accent-primary;
                    color: $color-font-secondary;
                    border-radius: 5px;
                    text-decoration: none;
                    font-weight: 600;
                    font-size: 9px;
                    line-height: 20px;
                    padding: 0 5px;
                }
            }
        }
    }

    &__consultation-txt {
        position: relative;
        color: #474747;
        padding: 20px 0;
        margin-top: 30px;

        &::before {
            content: "";
            display: block;
            position: absolute;
            width: calc(100% + 30px);
            height: 100%;
            left: -15px;
            top: 0;
            z-index: -1;
            background: #ebdcb5 url("../img/pattern-main.svg") repeat;
            border-top-left-radius: 30px;
            border-bottom-right-radius: 30px;
        }

        p {
            font-weight: normal;
            font-size: 14px;
            line-height: 19px;
            margin-bottom: 20px;
        }

        h5 {
            font-weight: bold;
            font-size: 20px;
            line-height: 25px;
            margin-bottom: 20px;
        }

        span {
            display: block;
            width: 100%;
            font-weight: 600;
            font-size: 14px;
            line-height: 145%;
            margin-bottom: 10px;
        }

        ul  {
            display: flex;
            flex-direction: column;
        }

        li {
            font-size: 14px;
            line-height: 140%;
            margin-bottom: 7px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.form-present {
    display: block;
    width: 100%;
    height: auto;
    background: $color-back-primary;
    border: 1px solid $color-accent-primary;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 25px 25px 30px;
    max-width: 300px;
    margin: 0 auto;

    h4 {
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        margin: 0 0 15px;
    }

    &__stubtitle {
        margin-top: 10px;
        margin-bottom: 20px;

        img {
            display: block;
            width: 119px;
            height: auto;
            margin-right: 5px;
            float: left;
        }

        p {
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            padding-top: 10px;
        }

        span {
            display: block;
            width: 100%;
            margin-top: 40px;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 19px;
        }
    }

    &__controllers {
        display: flex;
        flex-direction: column;
        align-items: center;

        h5 {
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            margin-bottom: 20px;
        }

        .form__group {
            width: 100%;
        }

        input {
            padding: 0;
        }
    }

    .label_present {
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
            width: 49px;
            height: auto;
        }

        &__wrapper {
            position: relative;
            width: 177px;
        }

        &__note {
            position: absolute;
            width: 100%;
            height: auto;
            font-weight: 500;
            font-size: 10px;
            line-height: 20px;
            text-align: center;
        }
    }

    &__btn-wrap {
        margin-top: 26px;
        width: 100%;

        .btn {
            font-weight: bold;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 0.3px;
        }

        span {
            display: block;
            margin-top: 13px;
            font-weight: 500;
            font-size: 10px;
            line-height: 14px;
            text-align: center;
        }
    }
}