.swiper-slide
    .results-item

        .results-item__caption Матрас Sealy Sensitive Plush Black Edition

        .results-item__picture
            img.results-item__picture-img(src="" alt="" data-lazy-load-img="img/results-item-picture-template.jpg")
            .results-item__picture-content
                p.results-item__picture-title Экономичная модель классического матраса
                p.results-item__picture-subtitle Синтетический жаккард
                span.results-item__picture-txt Нагрузка на 1 спальное место до 120 кг


        .results-item__body
            ul.results-item__list
                li
                    h6 Гарантия 1,5 года
                li
                    h6 Средняя жесткость
                    p независимый пружинный блок
                li
                    h6 80х200 см
                    p Любой размер с шагом 10 см по длине и ширине
                li
                    h6 Высота
                    a.button(href="" target="_blank") Смотреть описание

            a.btn(href="" target="_blank")
                | уточнить стоимость
                br
                |  в whatsapp