//- .hidden
.container.question#results
    .row
        .col-12.animatible
            .lock
                img(src="img/lock-open.png" alt="" title="")
                span Ваша подборка матрасов


        .col-12.animatible
            .results__founders
                img(src=""
                    alt=""
                    data-lazy-load-background="../img/founders.jpg")
                h5
                    | Георгий и Татьяна
                    br
                    | Луковцевы
                p основатели Райтон Якутск