include form-present

//- .hidden
.container.question#results
    .row
        .col-12.animatible
            .lock
                img(src="img/lock-open.png" alt="" title="")
                span Ваша подборка матрасов

        .col-12.animatible
            .results__founders
                span(data-lazy-load-background="../img/founders.jpg")
                h5
                    | Георгий и Татьяна
                    br
                    | Луковцевы
                p основатели Райтон Якутск

        .col-12.animatible
            .results__caption
                h5 Отлично!

                p
                    | Система подобрала идеальные матрасы для Вас. Вы найдете их
                    button.link(type="button") ниже
                    | .

                p
                    | А еще Вы можете прийти в любой
                    br
                    | из 3-х наших салонов в Якутске
                    br
                    | и полежать на каждом.

        .col-12.animatible
            +form-present("А пока забирайте подарок")
