include form-present

//- .hidden
.container.question#results
    .row
        .col-12.animatible
            .lock
                img(src="img/lock-open.png" alt="" title="")
                span Ваша подборка матрасов

        .col-12.animatible
            .results__founders
                span(data-lazy-load-background="../img/founders.jpg")
                h5
                    | Георгий и Татьяна
                    br
                    | Луковцевы
                p основатели Райтон Якутск

        .col-12.animatible
            .results__caption
                h5 Отлично!

                p
                    | Система подобрала идеальные матрасы для Вас. Вы найдете их
                    button.link(type="button") ниже
                    | .

                p
                    | А еще Вы можете прийти в любой
                    br
                    | из 3-х наших салонов в Якутске
                    br
                    | и полежать на каждом.

        .col-12.animatible
            +form-present("А пока забирайте подарок")

        .col-12.animatible#resultCheap
            .results__list
                h5  Матрасы подобранные для Вас:
                .results__list-caption
                    strong
                        span 7&nbsp;
                        | матрасов&nbsp;
                    | в ценовой категории

                .results__list-raiting
                    include ../../../img/icon-start.svg
                    include ../../../img/icon-start.svg
                    include ../../../img/icon-start.svg

                .results__list-slider

                    .slider
                        mark
                            p листайте
                            span.slide-horizontal-animation
                                include ../../../img/i-scroll-hand.svg

                        .swiper
                            .swiper-wrapper
                                include items/cheap/template
                                include items/cheap/template
                                include items/cheap/template
                                include items/cheap/template

                            .swiper-pagination

        .col-12.animatible
            +form-present("Вы всё ещё не забрали подарок?<br>Скорее забирайте!")

        .col-12.animatible
            .results__consultation-txt
                p
                    | Конечно, выбор матраса — сложное дело,
                    br
                    | и здорово получить консультацию
                    br
                    | специалиста, который в этом хорошо
                    br
                    | разбирается.

                h5
                    | Получите консультацию
                    br
                    | прямо сейчас

                span и узнайте:

                ul
                    li - В чем различие матрасов разных  брендов?
                    li - Какой лучше — пружинный или беспружинный, и в чем их преимущества и недостатки?
                    li - Как долго прослужит матрас?
                    li - Какую жесткость матраса выбрать?
                    li - В чем особенности разных наполнителей и что подойдет именно Вам?


