//- Include used template for this page
extends ../../templates/default/template

//- Variables for include this in used template
block variables
    - let title       = 'Райтон - матрас, который подходит именно вам.'
    - let description = 'Write description for this page here'
    - let keywords    = 'Write keywords for this page here'
    - let pageClass   = 'page-index'

block content
    include first-screen/first-screen
    include progress/progress
    include questions/questions
    include get-name/get-name
    include get-contact/get-contact
    include results/results