@import "../../../templates/default/scss/variables";

.question {

    position: absolute;
    width: 100%;
    height: auto;

    &__wrap {
        position: relative;
        width: 100%;
        overflow: hidden;
    }


}