section.question__wrap#questionsWrap
    include for-whom
    include children-age
    include hardness-children
    include hardness-adult
    include number-of-persons
    include weight-one
    include weight-two
    include how-urgent
    include quality