.container
    .row
        .col-12
            .header__content
                img.header__logo(src="img/header-logo.png" alt="")

                .header__connects
                    a(href="tel:+79853052525") + 7 (985) 305-25-25
                    button(type="button"
                        data-toggle="modal"
                        data-target="#fastConsultationModal") Быстрая консультация